.Comment {
    color: #7e7777;
}

.ReservedKeyword {
    color: #4b8b8b;
}

.Variable {
    color: #5485b6;
}

.Function {
    color: #8464c4;
}

.Object {
    color: #7B927C;
}

.Method {
    color: #bd5187;
}

.String { 
    color: #7B927C;
}

.Type {
    color: #b45a3c;
}

.Operator {
    color: #7272ca;
}


div {
    margin: 15px;
}

p {
    font-size: 18px;
}

.OutputCodeExample {
    display: block;
    border-radius: 4px;
    font-family: monospace;
    border: 1px solid #e0e0e0;

}

.InlineCodeExample {
    display: inline-block;
    border-radius: 4px;
    font-family: monospace;
    border: 1px solid #e0e0e0;
}

.CodeExample {
    display: block;
    overflow: auto;
    padding: 0.5em;
    line-height: normal;
    border-radius: 4px;
    font-family: monospace;
    border: 1px solid #e0e0e0;
}

.PineappleLanguage {
    display: block;
    margin: auto;
}

.ListItem {
    text-align: left;
    margin: auto 0 auto 0;
}

.SubListItem {
    margin: auto auto auto 20;
    font-size: 16px;
}

.PineappleIconOutline {
    background-color: aliceblue;
    width: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    padding: 5px;
}

.PineappleIcon {
    width: 100%;
    margin: auto;
}

.PineappleTitleDiv {
    position: relative;
    margin: auto 0 auto 0;
    height: 100%;
    font-size:60px;
    width: auto;
}

.PineappleTitle {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -65px;
    display: inline-block;
    color: yellow;
    grid-row: 2;
    border-bottom: 3px solid #f9dd94;
}

.Documentation {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: fit-content(6em) fit-content(1) fit-content(6em);
    justify-content: space-between;
    align-content: center;
}

.LeftHandNavigation {
    margin-left: 2em;
    grid-column: 1;
}

.VerticalSeparator {
    background-color: rgb(6, 119, 57);
    width: 5%;
    grid-column: 2;
    margin-left: 2em;
    margin-right: 2em;
}

.DocumentationContent {
    font-size: 16px;
    grid-column: 3;
    margin-right: 8em;
}

.ContentHeading {
    display: inline;
    color: #10400f;
    overflow: hidden;
    white-space: nowrap;
}

.Pineapple_Information {
    grid-row: 2;
    background-color:#46103b;
    overflow: hidden;
    border-style: solid;
    border-color: #10400f;
    color: #139735;
    padding: 14px 16px;
}

.Pineapple_Information_Mini_Panel p{
    background-color:#46103b;
    border-color: #10400f;
    border-style: solid;
    color: #139735;
    padding: 14px 16px;
    height: auto;
    width: fit-content;
}

.Pineapple_Information_Mini_Panel code{
    color: 094812;
    white-space: pre;
}