:root {
    --wesbos: #8F6F9A;
}

body {
margin: 0;
background-image:  linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    radial-gradient(circle at top left,#660000 20%, #4d0000 30%, rgba(0, 0, 0, 0.3)30%, rgba(0, 0, 0, 0)35%, rgba(0, 0, 0, 0)100%),
    radial-gradient(circle at bottom right,#305082 20%, #22395d 30%, rgba(255, 255, 255, 0.2)30%, rgba(0, 0, 0, 0)35%, rgba(0, 0, 0, 0)100%),
    linear-gradient(to bottom right, #800000 10%, black 50%, #34568b 90%);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
color: #fff;
}

.wrapper {
width: 75%;
margin: 0 auto;
padding: 20px;
}

h2 {
display: inline-block;
border-bottom: 3px solid var(--wesbos);
margin: 0;
font-size: 50px;
font-family: 'Century Gothic';
font-weight: lighter;
}

.buttons-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 60px 0;
}

.button {
margin: 15px 15px;
padding: 10px 20px;
border: 1px solid var(--wesbos);
border-radius: 3px;
color: #fff;
font-weight: bold;
text-decoration: none;
letter-spacing: 1px;
text-transform: uppercase;
}

.button--is-active {
background: #8F6F9A;
}

.tutorial {
display: none;

    &--is-visible {
        display: flex;
        flex-direction: column;
    }
}

.content {
    &__title {
        text-align: center;
        font: 3rem 'Century Gothic';
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        margin: 0;
    }

    &__description {
        padding: 25px 25px;
        border-top: 2px solid #8F6F9A;
        margin: 60px 0 0;
    }

    &__paragraph {
        font: 1rem verdana;
        text-indent: 10%;
        line-height: 1.8;
        padding: 0 10%;
    }

    &__list {
        padding-left: 20%;
        list-style: none;
    }

    li::before {
        content: "-";
        padding-right: 20px;
        color: #8F6F9A;
    }
}

* {
box-sizing: border-box;
}