body {
    display: flex;
    /* justify-content: center; */
    background-color: #bed3b5;
}

.RSVP {
    position: relative;
    margin: auto;
}

.Header {
    width: 50%;
    margin: auto;
    display: block;
}

.WeddingTitle {
    width: 100%;
}

form {
    margin: 10% auto;
    width: fit-content;
}

.FormDiv {
    border: 1px solid #869480;
    border-radius: 5px;
    width: 50%;
    margin: 5% auto 10% auto;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
}

.Menu > label:first-child, .Menu > label:last-child {
    flex-basis: 100%;
}

.Menu > label {
    flex-basis: 49.8%;
    text-align: center;
    padding-bottom: 1em;
}

#Menu {
    margin: auto;
    width: fit-content;
}

.Plate1 {
    border-right: 1px solid #869480;
    border-bottom: 1px solid #869480;
}

.Plate2 {
    border-bottom: 1px solid #869480;
}

.Plate3 {
    padding-top: 1em;
}

.Submit {
    margin: auto;
    width: fit-content;
}

input:active {
    background-color: rgba(0, 0, 0, 0.0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #bed3b5 inset !important;
    -webkit-text-fill-color: black !important;
}
input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    border-bottom: 1px solid #869480;
    outline: none;
}