body {
    display: flex;
    /* justify-content: center; */
    background-color: #bed3b5;
    /* font-family: "Nothing You Could Do", cursive; */
    /* font-family: "Great Vibes", cursive; */
    font-family: "Shadows Into Light Two", cursive;
    /* font-family: "Zeyada", cursive; */
    /* font-family: "Coming Soon", cursive; */
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 24;
    letter-spacing: 0.1em;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
  /* font-family: "Great Vibes", cursive; */
  /* font-family: "Shadows Into Light Two", cursive; */
  /* font-family: "Zeyada", cursive; */
  /* font-family: "Coming Soon", cursive; */
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 1em auto;
  border-bottom: 0.05em solid #869480;
  width: fit-content;
  /* text-decoration: underline;
  text-decoration-thickness: 0.05em; */
}

.RSVP {
    position: relative;
    margin: auto;
}

.Header {
    width: 50%;
    margin: auto;
    display: block;
}

.WeddingTitle {
    width: 100%;
}

form {
    margin: 10% auto;
    width: fit-content;
}

.FormDiv {
    border: 1px solid #869480;
    border-radius: 5px;
    width: 50%;
    margin: 5% auto 10% auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-last-of-type(2) {
    border-bottom: 1px solid #869480;
}

td {
    text-align: center;
}

#Row2 td:first-of-type {
    border-right: 1px solid #869480;
}

#Row2 td{
    width: 50%;
    padding-bottom: 1em;
}

/* .Menu {
    display: flex;
    flex-wrap: wrap;
}

.Menu > label:first-child, .Menu > label:last-child {
    flex-basis: 100%;
}

.Menu > label {
    flex-basis: 49.83%;
    text-align: center;
    padding-bottom: 1em;
    margin: 0 auto 0 auto;
}

#Menu {
    margin: auto;
    width: fit-content;
}

.Plate1 {
    border-right: 0.25px solid #869480;
    border-bottom: 1px solid #869480;
}

.Plate2 {
    border-left: 0.25px solid #869480;
    border-bottom: 1px solid #869480;
}

.Plate3 {
    padding-top: 1em;
} */

.Submit {
    margin: auto;
    width: fit-content;
}

input:active {
    background-color: rgba(0, 0, 0, 0.0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #bed3b5 inset !important;
    -webkit-text-fill-color: black !important;
}

input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    border-bottom: 1px solid #869480;
    outline: none;
}